

// Fonts
$primary-font: Verdana, Arial, sans-serif;
$secondary-font: Georgia, "Times New Roman", serif;


$color-primary: #000;
$color-secondary: #fffe2a; // yellow
$color-tertiary: #43B2FF;  // blue

$default-border-radius: 5px 5px 5px 5px;






