
/* import any content partials here */

a,
a:link,
a:active {
	color: darken($color-secondary, 50%);
	text-decoration: underline;

	&:hover {
		text-decoration: underline;
	}
}


p {
	margin-top: 0;
}

.footnote {
	line-height: 1.2;
}

/* ===================================================================== HEADERS */

.page-header {
	font-size: 22px;
}

.hdr-section {
	color: darken($color-secondary, 10%);
	flex: 1;
	flex-basis: auto;
	font-size: 32px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	width: 100%;

	.stage & {
		margin-top: calc(0.83em - 20px); /* 20px is the top padding on .stage */
	}
}

.hdr-subsection {
	font-size: 18px;
	margin-top: 0;
}




/* ===================================================================== BUTTONS */

.button {
	background-color: $color-secondary;
	border-radius: $default-border-radius;
	color: $color-primary;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 30px;

	&:link {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}

	&:active {

	}

}

/* container for buttons */
.buttons {
	float: left;
	margin: 15px 0;
	width: 100%;

	.button {
		float: left;
		margin-right: 25px;
	}
}



/* ===================================================================== PHOTOS */


.photo-thumb {
	border: none;
	display: inline-block;
	position: relative;

	&:nth-child(even) {
		top: -4px;
		transform: rotate(2deg);
	}
	&:nth-child(odd) {
		top: 4px;
		transform: rotate(-2deg);
	}
}


.branding {
	display: flex;
	justify-content: center;;

	img {
		max-height: 500px;
	}
}