

::-moz-selection {
	background:#1988CC;
	color:#FFFFFF;
}

::selection {
	background:#1988CC;
	color:#FFFFFF;
}


img {
	max-width: 100%;
}

body {
	color: $color-primary;
	font-family: $primary-font;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
}

.stage {
	@extend %clearfix;
	margin: 0 auto;
	max-width: 1160px;
	padding: 0 20px;
	position: relative;
}

header {
	border-top: 10px solid $color-secondary;
}

#logo {
	margin: 30px 0 0 0;
}
.what {
	color: $color-tertiary;
	font-size: 24px;
	line-height: 1.2;
}
.photos {
	margin: 0 0 1em 0;

	@include respond-to('gt-biggie') {
		position: absolute;
			top: 30px;
			right: 30px;
	}
}

section {

	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	margin: 2em 0 0 0;
	overflow: hidden;
	position: relative;

	h1 {
		background: yellow;
	}

	.photo-bg {
		background-color: white;
		background-color: rgba(255,255,255,.7);
		color: #000;
		height: 100%;
		width: 100%;
	}
}


.section-bg {
	min-height: 100%;
	min-width: 800px;
	opacity: .3;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	width: 100%;
	z-index: -1;
}

footer {
	margin: 2em 0 0 0;
	padding: 1em 0;
	text-align: center;
}


.col {
	box-sizing: border-box;

	@include respond-to('gt-small') {
		float: left;
		padding: 0 2em;
		width: 50%;
	}
}



#music-activities {
	background-image: url(../photos/pumpkins.jpg);
}

#tickets-directions {
	background-image: url(../photos/hayride.jpg);
}

#foundation {
	background-image: url(../photos/balloons.jpg);
}