



.nav-primary {
	@extend %clearfix;

	ul {
		@extend %clearfix;
		list-style: none;
		margin: 1em 0 0 0;
		padding: 0;
		width: 100%;

		li {
			border-top: 1px solid $color-secondary;
			border-bottom: 1px solid $color-primary;
			box-sizing: border-box;
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			height: 100%;
			position: relative;
			width: 100%;
			vertical-align: middle;

			@include respond-to('gt-biggie') {
				font-size: 16px;
			}


			@include respond-to('gt-small') {
				border-top: none;
				border-left: 1px solid $color-secondary;
				border-bottom: none;
				border-right: 1px solid $color-primary;
				width: 33.3%;
			}

			a {
				background-color: darken($color-secondary, 22%);
				box-sizing: border-box;
				color: $color-primary;
				display: block;
				height: 100%;
				padding: 22px 0;
				text-align: center;
				text-decoration: none;
				text-shadow: 1px 1px 7px $color-secondary;
				transition-duration: 0.2s;
				transition-property: background-color;
				width: 100%;


				&:hover {
					background-color: $color-tertiary;
					-moz-transition-delay: 0s;
					text-decoration: none;
					transition-delay: 0s;
				}
			}


			&:first-child {
				border-top: none;
				border-left: none;
			}
			&:last-child {
				border-right: none;
				border-bottom: none;
			}

		}
	}
}


