
/* import any content partials here */

a,
a:link,
a:active {
	color: darken($color-secondary, 50%);
	text-decoration: underline;

	&:hover {
		text-decoration: underline;
	}
}


p {
	margin-top: 0;
}

/* ===================================================================== HEADERS */

.page-header {
	font-size: 22px;
}

.hdr-section {
	@include text-shadow(2px 2px 2px rgba(0, 0, 0, .5));
	color: $color-secondary;
	font-size: 24px;
}
.hdr-subsection {
	font-size: 18px;
	margin-top: 0;
}




/* ===================================================================== BUTTONS */

.button {
	@include border-radius($default-border-radius);
	background-color: $color-secondary;
	color: $color-primary;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 30px;

	&:link {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}

	&:active {

	}

}

/* container for buttons */
.buttons {
	float: left;
	margin: 15px 0;
	width: 100%;

	.button {
		float: left;
		margin-right: 25px;
	}
}



/* ===================================================================== PHOTOS */


.photo-thumb {
	border: none;
	display: inline-block;
	position: relative;

	&:nth-child(even) {
		@include rotate(2deg);
		top: -4px;
	}
	&:nth-child(odd) {
		@include rotate(-2deg);
		top: 4px;
	}
}
